<!-- <div class="flex justify-content-center login" style="height: 99vh;">
  <form class=" flex flex-column justify-content-center" #UserForm="ngForm" (ngSubmit)="login()">
    <div class="m-auto">
      <div class="text-center">
        <img src="../../../assets/images/logo.png" styleClass="mr-2" size="xlarge" shape="circle">
        <h1>Sign in to your account</h1>
      </div>
      <p-message *ngIf="errMsg" severity="error" [text]="errMsg" styleClass="mb-2"></p-message>
      <div class="field">
        <label for="email">Email</label>
        <input [(ngModel)]="userlogin.username" type="text" id="email" pInputText placeholder="Emm@domain.com"
          class="w-full">
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input [(ngModel)]="userlogin.password" type="password" id="password" pInputText placeholder="password"
          class="w-full">
      </div>
      <button label="Login" class="w-full btn btn-secondary" type="submit"></button>
      <button pButton label="Don't have an account? Signup now." class="w-full p-button-link text-left pl-0"
        (click)="register()"></button>
    </div>
  </form>
</div> -->
<div class="container">
  <form class=" flex flex-column justify-content-center" #UserForm="ngForm" (ngSubmit)="login()">
    <input type="text" name="username" id="username" [(ngModel)]="userlogin.username">
    <input type="text" name="password" id="password" [(ngModel)]="userlogin.password">
    <button class="btn btn-primary" type="submit"></button>
  </form>
</div>
