<div class="techs mt-4 pt-5 pb-5 text-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
        <img src="../../assets/images/tech-1.png" alt="tech-1" class="img-fluid">
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
        <img src="../../assets/images/tech-2.png" alt="tech-2" class="img-fluid">
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
        <img src="../../assets/images/tech-3.png" alt="tech-3" class="img-fluid">
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
        <img src="../../assets/images/tech-4.png" alt="tech-4" class="img-fluid">
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
        <img src="../../assets/images/tech-1.png" alt="tech-1" class="img-fluid">
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
        <img src="../../assets/images/tech-2.png" alt="tech-2" class="img-fluid">
      </div>

    </div>
  </div>
</div>

<div class="project text-center text-light pt-5 pb-5">
  <h2>Start Shopping Now </h2>
  <p class="text-white-50">
    Leave tour description and we start the Shopping. Don't worry, you can cancel anytime
  </p>
  <button class="btn btn-secondary text-uppercase" routerLink="shop">Start Shopping</button>
</div>
