.nav-bord {
  position: relative;

}



.navbar-brand img {
  height: 50px;
  width: 50px;
}

.nav-bord::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 5px;
  background-color: var(--Pale-orange);

}

.dropdown-menu {
  top: 34px;
  left: -85px;
}

.navbar-toggler {
  border: none;
}

.nav-item {
  border-bottom: 3px solid transparent;
  z-index: 54;

}

.nav-item {
  color: white;
}

.nav-item:not(:last-of-type):hover {
  border-color: var(--Orange);

}

@media (max-width: 992px) {
  .nav-item:last-child {
    margin: 7px 0;
  }

}

.profil {
  width: 42px;
}



.cart {
  font-size: 28px;
}
